
body {
    
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5em;
    justify-content: space-between
}

section {
    box-sizing: border-box;
    background-color: gray;
    justify-self: center;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(2, fit-content);
}

.label {
    border: 2px solid black;
    border-width: 0px 0px 2px 2px;
    align-self: start;
    justify-self: end;
}


















@media screen and (min-width: 768px) and (max-device-width: 991px) {
    
}
@media screen and (max-width: 767px) {

}